* {
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-snap-type: y mandatory;
}

body {
  color: white;
  background-color: black;
  height: 100vh;
  display: grid;
  place-items: center;
}

a {
  text-decoration: none;
  color: white;
}

.app__videos {
  position: relative;
  height: 750px;
  background-color: white;
  overflow: scroll;
  width: 100%;
  max-width: 400px;
  scroll-snap-type: y mandatory;
  border-radius: 20px;
}

.app__user {
  position: relative;
  height: 750px;
  background-color: white;
  color: black;
  overflow: scroll;
  width: 100%;
  min-width: 400px;
  max-width: 400px;
  scroll-snap-type: y mandatory;
  border-radius: 20px;
}

.app__videos::-webkit-scrollbar {
  display: none;
}

.app__videos {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.video {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: white;
  scroll-snap-align: start;
}

.video__player {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.videoSidebar {
  position: absolute;
  top: 48%;
  right: 10px;
}

.videoSidebar .material-icons {
  font-size: 28px;
  cursor: pointer;
}

.videoSidebar__button {
  text-align: center;
  color: white;
}

.videoSidebar__button.avatar {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  overflow: hidden;
  margin: 0 auto 12px auto;
  cursor: pointer;
}

.videoFooter {
  position: relative;
  bottom: 150px;
  margin-left: 20px;
  color: white;
  display: flex;
}

.videoFooter .authorNickName {
  cursor: pointer;

}

@keyframes spinTheRecord {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.videoFooter__record {
  animation: spinTheRecord infinite 5s linear;
  height: 50px;
  filter: invert(1);
  position: absolute;
  bottom: 0;
  right: 20px;
}

.videoFooter__text {
  flex: 1;
}

.videoFooter__text h3 {
  padding-bottom: 20px;
}

.videoFooter__icon {
  position: absolute;
}

.videoFooter__ticker {
  width: 400px;
  display: flex;
  align-items: center;
}

.videoFooter__ticker marquee {
  height: fit-content;
  margin-left: 30px;
  width: 60%;
}

.videoFooter__description {
  padding-bottom: 20px;
}

@media (max-width: 425px) {
  .app__videos, .app__user {
    width: 100%;
    height: 100%;
    max-width: 100%;
    border-radius: 0;
  }
}
/* 
.app__user {
  position: relative;
  height: 750px;
  background-color: white;
  color: black;
  overflow: scroll;
  width: 100%;
  min-width: 400px;
  max-width: 400px;

  scroll-snap-type: y mandatory;
  border-radius: 20px;
} */

.nav {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav span {
  width: 33%;
  text-align: center;
}

.userAvatar {
  text-align: center;
}

.userAvatar img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.userInfo {
  display: flex;
  flex-direction: row;
  max-width: 80%;
  justify-content: space-between;
  margin: 15px auto;
  align-items: center;
}

.userInfo div {
  text-align: center;
  font-size: 12px;
}

.userInfo div p {
  font-size: 15px;
  font-weight: bolder;
}